 * {
  font-family: 'Pompiere', cursive;
  text-transform: uppercase;
  font-weight: 900;
}
body {
  margin:0;
  padding:0;
  background: url(../img/home.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.logo {
  margin-top: 25px;
}
.coming-soon {
  font-weight: 900;
}
.description {
  margin-top: 25px;
  font-size: 18px;
}
.address {
  font-size: 16px;
}
.hours {
  font-size: 16px;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #0471DE;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: #fff;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s linear;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #00B7FF;
}
a {
  color: inherit;
}
a:hover, a:focus {
  text-decoration: underline;
  color: #000;
}
.fa {
  color: #fff;
}
.social-header {
  font-size: 22px;
}

/*Media Queries*/
@media (max-width: 767px) {
* {
  color: #fff;
}
body {
  margin:0;
  padding:0;
  background: url(../img/xs.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  .address-block {
    margin-top: 20px;
  }
  .hours-block {
    margin-top: 20px;
  }
}
@media (min-width: 767px) {
.newsletter-block {
  margin-top: -70px;
  }
}